*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: mediumpurple;
}
.content{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container{
    background-color: white;
    width:500px;
    height: 500px;
    padding: 80px 80px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 20px;
}
.input input{
    width: 100%;
    border: 1px solid silver;
    background-color: lightgray;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
label{
    font-family: sans-serif;
    color: lightgray;
    padding-left: 10px;
}
.button{
    width: 100%;
    padding: 20px;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    border: 1px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 15px;
    margin-top: 30px;
}
.link{
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
    text-decoration: underline;
}